@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, sans-serif;
    background-color: #1F2937;
}

.section1, .section5 {
    background-color: #1F2937;
}
.section2 {
    background-color: white;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0 100px;
    padding-top: 5px;
    
    

}

.logo1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding: 0;
    margin: 0;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    
}

.title1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtitle1{
    font-size: 18px;
    color: #E5E7EB;

}

.button1 {
    background-color:#3882f6;
    color: white;
    padding: 5px 32px;
    border-radius: 10px;
    border: none;
    width: 200px;
}

.left1,.right1 {
    max-width: 400px;
    min-width: 150px;
    flex-shrink: 0;
}


.left1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    
}

.right1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    padding: 86px 64px;
}

.section2 {
    background-color: white;

}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.content2 {
    display: flex;
    flex-wrap: wrap;
}

.card2{
    max-width: 200px;
}
.square2 {
    width: 20px;
    height: 20px;
    border: #3882f6 solid;
}

/* 
ARREGLAR COLOR LINKS HEADER (AGREGAR .LINKS1{} Y CONFIGURAR)

SEGUIR CON SIGUIENTE SECCION/*
